<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Model as a Service</title>
		<!-- Bootstrap CSS -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="public/styles/style.css">
		<link rel="stylesheet" type="text/css" href="public/styles/filedrop.css">
		<style type="text/css">

		.block-choose-models {
		background-color: #DDDDDD;
		}
		.block-testbed {
		background-color: #AAAAAA;
		}
		.scrollblock {
		position: relative;
		margin: 0;
		width: 100%;
		padding-top: 80px;
		padding-bottom: 80px;
		}
		</style>
	</head>
	<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Model as a Service</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
		<div class="container">
			<div class="starter-template">
				<h1>Boost your 3D model viewer with View and Data API</h1>
				<p class="lead">Just choose a model, get the embedding code and paste into your web page.</p>
			</div>
		</div>

		<section id="section-choose-models" class="scrollblock block-choose-models">
			<div class="container">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Available Models</h3>
					</div>
					<div class="panel-body">

						<legend>Choose a model you want to try, or upload your own model</legend>

						<div class="form-group">
							<a class="btn btn-warning" id='btnUploadModel' data-toggle="modal" href='#modal-uploadModel'>Upload your own model</a>
							<div class="modal fade" id="modal-uploadModel">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title">Upload your own model</h4>
										</div>
										<div class="modal-body">

											<noscript style="color: maroon">
											<h2>JavaScript is disabled in your browser. "Drag and Drop" feature is not supported.</h2>
											</noscript>


											<legend>Drag and Drop to upload your model</legend>
											<!-- A FileDrop area. Can contain any text or elements, or be empty.
											Can be of any HTML tag too, not necessary fieldset. -->
											<fieldset id="zone">
												<p>Drop a file inside&hellip;</p>
												<p>Or click here to <em>Browse</em>..</p>
												<!--
												<p style="z-index: 10; position: relative">
												<input type="checkbox" id="multiple">
												<label for="multiple">Allow multiple selection</label>
												</p>
												-->
											</fieldset>
											<div id="alert_placeholder" style="padding: 10px"></div>
											<div>
												<span>Please note that your uploaded model is not visible for others, and will be removed from the list once the page is refreshed. </span>
											</div>


										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

										</div>
										</div><!-- /.modal-content -->
										</div><!-- /.modal-dialog -->
										</div><!-- /.modal -->


									</div>
									<label for="inputModellist">Models:</label>

									<select name="modellist" id="inputModellist" class="form-control">
										<option value="">-- Select One --</option>
										<option value="dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6bW9kZWwtYXMtYS1zZXJ2aWNlMjAxNTAxMjYvU3VzcGVuc2lvbi5kd2Y=">Suspension</option>
										<option value="dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6bW9kZWwtYXMtYS1zZXJ2aWNlMjAxNTAxMjYvU2VhdC5kd2Z4">Seat</option>
										<option value="dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6bW9kZWwtYXMtYS1zZXJ2aWNlMjAxNTAxMjYvQ2hhc3Npcy5kd2Y=">Chassis</option>
										<option value="dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6bW9kZWwtYXMtYS1zZXJ2aWNlMjAxNTAxMjYvRHJpbGwuZHdmeA==">Drill</option>

									</select>

									<label for="inputSelectedUrn">Urn:</label>
									<input type="text" name="selectedUrn" id="inputSelectedUrn" class="form-control" value="" required="required" pattern="" title="">


									<img id="screenshot" class="img-thumbnail img-responsive" style="display: none;" src=""/>
									<br/>


									<a class="btn btn-danger" id='btnGetEmbededingcode' data-toggle="modal" href='#modal-embeddingCode'>Get example HTML code to load model in viewer</a>
									<a class="btn btn-primary pull-right" id="btnFullscreen">View it now and play with some client APIs</a>

									<div class="modal fade" id="modal-embeddingCode">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													<h4 class="modal-title">Code Example</h4>
												</div>
												<div class="modal-body">
													<p>Copy and paste following code snippet into your own web page.</p>
													<ul>
														<li>You need a web server to run your web page, the URL running the web page should be similar like http://hostname/yourpage.html, instead of file:///foldename/yourpage.html</li>
														<li>Double check to make sure the urn is correct in following code snippet. It starts with 'urn:'</li>

														<li><b>Clear the cache of your browser or run in incognito window if you see 'no Access-Control-Allow-Origin header' issue.</b></li>
													</ul>


  <pre id="codecontent">
														<!--Embedded code begin-->
&lt;body style=&quot;margin:0&quot;&gt;
    &lt;div id=&quot;viewerDiv&quot;&gt;
    &lt;/div&gt;
     &lt;!-- Your HTML code --&gt;
    &lt;!-- jquery --&gt;
    &lt;script src=&quot;https://code.jquery.com/jquery-2.1.2.min.js&quot;&gt;&lt;/script&gt;
 &lt;!-- Viewer --&gt;
    &lt;link type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;https://developer.api.autodesk.com/viewingservice/v1/viewers/style.css?v=v1.2.23&quot;/&gt;
    &lt;script src=&quot;https://developer.api.autodesk.com/viewingservice/v1/viewers/viewer3D.min.js?v=v1.2.23&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://rawgit.com/Developer-Autodesk/library-javascript-view.and.data.api/master/js/Autodesk.ADN.Toolkit.Viewer.js&quot;&gt;&lt;/script&gt;
    &lt;script&gt;
    //global variable
    var oViewer ;

    //replace with your own urn ...
var urn = &#39;urn:dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6YWRuLTE3LjA3LjIwMTQtMTAuNTYuMTYvRW5naW5lLmR3Zg==&#39;;

        $(document).ready(function () {
            var adnViewerMng = new Autodesk.ADN.Toolkit.Viewer.AdnViewerManager(
            	// url of token service
            	//(ex reply: {token_type: "Bearer", expires_in: 1799, access_token: "..."}
                &#39;https://still-spire-1606.herokuapp.com/api/rawtoken&#39;,
                document.getElementById(&#39;viewerDiv&#39;));
            var paramUrn = Autodesk.Viewing.Private.getParameterByName(&#39;urn&#39;);
            urn = (paramUrn !== &#39;&#39; ? paramUrn : urn);
            if (urn.substring(0,4)!=&quot;urn:&quot;)
                urn = &#39;urn:&#39; + urn;
            adnViewerMng.loadDocument(urn, onViewerInitialized, onError);
        });
        var onViewerInitialized = function(viewer)
        {
        	//export the viewer object to global object
        	oViewer = viewer;

            //Now it&#39;s your turn to have fun with viewer client API...
            //For example, you can get the camera of viewer
            //var camera = viewer.getCamera();
            //console.dir(camera);
        };
        var onError = function(error)
        {
            console.error(error);
        };
    &lt;/script&gt;
&lt;/body&gt;
														<!--Embedded code end-->
</pre>

													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

													</div>
													</div><!-- /.modal-content -->
													</div><!-- /.modal-dialog -->
													</div><!-- /.modal -->
												</div>





											</div>
										</div>
								</section>


								<br/>
								<div align="center">
									<footer style="text-align:center">
										<p>Model as a Service, Accelerating Hackathons!</p>
										<p>@Autodesk Developer Network</p>
									</footer>
									<br/>
									<br/>
								</div>

								<!-- jQuery -->
								<script src="//code.jquery.com/jquery.js"></script>
								<!-- Bootstrap JavaScript -->
								<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
								<script type="text/javascript" src="public/scripts/config.js"></script>
								<script type="text/javascript" src="public/scripts/filedrop.js"></script>
								<script type="text/javascript" src="https://rawgit.com/Developer-Autodesk/library-javascript-view.and.data.api/master/js/Autodesk.ADN.Toolkit.ViewData.js"></script>
								<script type="text/javascript" src="public/scripts/main.js"></script>



							</body>
						</html>
