<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Test viewer client API live</title>
		<!-- Bootstrap CSS -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
		<link rel="stylesheet" href="public/styles/jseditor.css">
		<link type="text/css" rel="stylesheet" href="https://developer.api.autodesk.com/viewingservice/v1/viewers/style.css?v=v1.2.23"/>


	</head>
	<body>
		<div id="wrap">

			<!-- Code Editors -->
			<section id="code_editors">
			<div class="btn-toolbar">
				<button class="btn-group btn btn-primary glyphicon glyphicon-play pull-right" id="btnRun">&nbsp Run</button>
				<div class="btn-group"></div>
				<div class="btn-group"></div>
			</div>


				<div id="js" class="code_box">
					<h3>JavaScript</h3>
					<textarea name="js"></textarea>
				</div>
				<div id="console" class="code_box">
					<h3>Console</h3>
					<textarea name="console"></textarea>
				</div>
			</section>

			<!-- Sandboxing -->
			<section id="output">
				<div>
					<div id="viewerDiv">
    				</div>

				</div>
			</section>

		</div>
		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script src="public/scripts/testviewerlive.js"></script>

	<script src="http://codemirror.net/lib/codemirror.js"></script>
	<!-- For HTML/XML -->
	<script src="http://codemirror.net/mode/xml/xml.js"></script>
	<script src="http://codemirror.net/mode/htmlmixed/htmlmixed.js"></script>
	<!-- For CSS -->
	<script src="http://codemirror.net/mode/css/css.js"></script>
	<!-- For JS -->
	<script src="http://codemirror.net/mode/javascript/javascript.js"></script>
	<script src="public/scripts/jseditor.js"></script>

		 <!-- Viewer -->

    <script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/viewer3D.min.js?v=v1.2.23"></script>
    <script src="https://rawgit.com/Developer-Autodesk/library-javascript-view.and.data.api/master/js/Autodesk.ADN.Toolkit.Viewer.js"></script>





</body>
</html>

</body>
</html>
